body {
  top: 0;
  margin: 0;
  font-family: "Instrument Sans", sans-serif;
  max-width: 100%;
  background-color: #f1f6f9;
  overflow-x: hidden;
}

.log-in-hidden {
  display: none;
  visibility: hidden;
}

.view-content {
  display: none;
}

.view-content.active {
  display: block;
}

header {
  background-color: #394867;
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 7;
}

#title {
  position: absolute;
  left: 50px;
  top: 0;
  font-size: 25px;
  font-weight: 700;
  color: #f0f3f9;
}

nav {
  position: absolute;
  right: 50px;
  top: 29px;
}

.view-link {
  text-decoration: none;
  color: #f0f3f9;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  margin-right: 50px;
}

main {
  width: 100%;
}
#frontpage {
  position: relative;
  width: 100%;
  z-index: 5;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

/* =============== OM MEDLEMSKAB STYLING =============== */

#home-section {
  width: 100%;
}

#welcome-img {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  filter: brightness(30%);
}

.parallelogram {
  position: absolute;
  width: 60%;
  height: 99.5%;
  top: 0;
  left: 65%;
  background: rgb(57, 72, 103);
  background: linear-gradient(180deg, rgba(57, 72, 103, 1) 0%, rgba(55, 114, 185, 1) 100%);
  transform: skew(30deg);
}

#swimmer-png {
  position: absolute;
  transform: scaleX(-1) rotate(11deg);
  width: 50.82%;
  top: 29.83%;
  right: -5%;
}

#welcome-h3 {
  position: absolute;
  z-index: 2;
  top: 15vw;
  left: 12vw;
  color: #f1f6f9;
  font-size: 59px;
  font-weight: 700;
}

#welcome-h2 {
  position: absolute;
  z-index: 2;
  top: 17vw;
  left: 12vw;
  color: #f1f6f9;
  font-size: 100px;
  font-weight: 700;
}

#welcome-p {
  position: absolute;
  z-index: 2;
  top: 31vw;
  left: 12vw;
  color: #f1f6f9;
  font-size: 20px;
  font-weight: 400;
}

#welcome-btn {
  z-index: 2;
  position: absolute;
  top: 38vw;
  left: 12vw;
  background-color: #394867;
  color: #f1f6f9;
  font-family: "Instrument Sans", sans-serif;
  font-size: 14px;
  padding: 11px 29px;
  border: 2px solid #394867;
  box-shadow: rgb(0, 0, 0) 7px -2px 25px -30px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 25px;
}

#menu-membership {
  width: 150px;
  padding-left: 0px;
  background-color: #394867;
  position: fixed;
  right: 747px;
  top: -61px;
  display: flex;
  border-radius: 5px;
  z-index: 6;
}

#menu-membership ul {
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  font-weight: 700;
}

#menu-membership,
a {
  text-decoration: none;
  color: #f0f3f9;
}

#menu-accounting {
  width: 200px;
  padding-left: 0px;
  background-color: #394867;
  position: fixed;
  right: 153px;
  top: -61px;
  display: flex;
  border-radius: 5px;
  z-index: 6;
}

#menu-accounting ul {
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  font-weight: 700;
}

#menu-accounting,
a {
  text-decoration: none;
  color: #f0f3f9;
}

#signup-link {
  color: rgb(197, 75, 75);
  font-weight: 800;
}

.menu-closed {
  animation: menu-closed;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.menu-open {
  animation: menu-open;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

@keyframes menu-closed {
  0% {
    transform: translate(0, 125px);
    visibility: visible;
  }

  99% {
    visibility: visible;
  }
  100% {
    transform: translate(0, -125px);
    visibility: hidden;
  }
}

@keyframes menu-open {
  0% {
    transform: translate(0, 0);
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  100% {
    transform: translate(0, 125px);
  }
}

.membership-list {
  list-style-type: none;
  display: inline;
}

.membership-list a {
  text-decoration: none;
  color: rgb(255, 223, 226);
  cursor: pointer;
}

#about-section,
#contact-section,
#om-medlemskab-section,
#results-section {
  margin: 0 5vw;
  line-height: 200%;
  margin-top: 70px;
}

#about-page,
#contact-page {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

#about-right,
#contact-right {
  margin-left: 2%;
}
#about-right img,
#contact-right img {
  margin-top: 10%;
  width: 60%;
}

/* =============== LOG IND SIDE STYLING =============== */

#overskriften {
  font-family: "Instrument Sans", sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 90px;
}

#login-form {
  padding: 2em 20em;
}

.form-control input {
  border: 0;
  border-bottom: 2px solid #394867;
  padding: 15px 0;
  display: block;
  font-size: 20px;
  font-family: "Instrument Sans", sans-serif;
  width: 100%;
  background-color: #f1f6f9;
}

#btn-sign-up {
  background-color: #394867;
  color: #f1f6f9;
  font-family: "Instrument Sans", sans-serif;
  font-size: 14px;
  padding: 11px 29px;
  border: 2px solid #394867;
  box-shadow: rgb(0, 0, 0) 7px -2px 25px -30px;
  border-radius: 50px;
  transition: 1s;
  transform: translateY(0);
  cursor: pointer;
  margin-top: 25px;
}
#btn-sign-up:hover {
  transition: 1s;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #394867;
  border: solid 2px #394867;
}

#signup {
  margin: -1em auto 0;
  padding: 1em 1em 2em;
  text-align: center;
}

#signup-container {
  margin-top: 90px;
}
#signin-message {
  color: red;
  text-align: center;
}
#log-out-dialog {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  font-family: "Instrument Sans", sans-serif;
  text-align: center;
  background-color: #f1f6f9;
  font-size: 20px;
  /* margin-left: 20px;
  padding: 40px;
  padding-top: 10px; */
  /* background-color: black; */
}
#btn-log-out-cancel,
#btn-log-out-final {
  background-color: #394867;
  color: #f1f6f9;
  font-family: "Instrument Sans", sans-serif;
  font-size: 14px;
  padding: 11px 29px;
  border: 2px solid #394867;
  box-shadow: rgb(0, 0, 0) 7px -2px 25px -30px;
  border-radius: 50px;
  transition: 1s;
  transform: translateY(0);
  cursor: pointer;
  margin-top: 25px;
}
footer {
  position: relative;
  background-color: #9ba4b5;
  height: 70px;
  width: 100%;
  bottom: 0%;
  font-size: 17px;
  z-index: 1;
}

/* =============== OPRET MEDLEMSSKAB STYLING =============== */

#overskrift {
  font-family: "Instrument Sans", sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 90px;
  /* background-color:purple; */
}
#signup-container {
  margin-top: 38px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#signup-right {
  border-style: solid;
  margin-left: 20px;
  padding: 40px;
  padding-top: 10px;
}

.member-control input {
  border: 0;
  border-bottom: 2px solid #394867;
  padding: 15px 0;
  display: block;
  font-size: 15px;
  font-family: "Instrument Sans", sans-serif;
  width: 100%;
  background-color: #f1f6f9;
}

#signup-accept {
  background-color: #394867;
  color: #f1f6f9;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 0;
  font-size: 14px;
  border: none;
  padding: 11px 29px;
  border: 2px solid #394867;
  box-shadow: rgb(0, 0, 0) 7px -2px 25px -30px;
  border-radius: 50px;
  transition: 1s;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

#signup-accept:hover {
  transition: 1s;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #394867;
  border: solid 2px #394867;
}

table,
th,
td {
  border: 1px solid;
}

/* =============== TRAINER PAGE STYLING =============== */

#dialog-edit-result {
  padding-top: 30px;
}

#trainer-container {
  margin-top: 90px;
}

.orangeBtn {
  color: rgb(255, 255, 255);
  background-color: orange;
  width: 100%;
}

.redBtn {
  color: rgb(255, 255, 255);
  background-color: red;
  width: 100%;
}

.greenBtn {
  color: rgb(255, 255, 255);
  background-color: rgb(65, 220, 65);
  width: 100%;
}

#resultsTable {
  width: 80%;
  margin-left: 5%;
  margin-bottom: 5%;
}

#resultsTableHeader {
  background-color: #9ba4b5;
}

.sortActive {
  font-weight: bold;
}

/* =============== KASSERENS SIDE STYLING =============== */
.view-content {
  margin-bottom: 20px;
}

#treasurer-section {
  text-align: center;
}

#treasurer-page h1 {
  font-size: 30px;
  margin-top: 0;
}

#treasurer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.list-user {
  border: 1px solid #ddd;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.305);
  margin: 5px;
  padding: 20px;
  width: 250px;
  background: #3948670d;
  line-height: 15px;
}

.list-user h2 {
  font-size: 24px;
  margin-top: 0;
}

.list-user p {
  margin: 5px 0;
}

.user-grid-border {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
#user-btn-delete {
  background-color: #394867;
  color: #f1f6f9;
  font-family: "Instrument Sans", sans-serif;
  font-size: 14px;
  padding: 11px 29px;
  border: 2px solid #394867;
  box-shadow: rgb(0, 0, 0) 7px -2px 25px -30px;
  border-radius: 50px;
  transition: 1s;
  transform: translateY(0);
  cursor: pointer;
  margin-top: 25px;
}

#user-btn-delete:hover {
  transition: 1s;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #d9e2e7;
  color: #394867;
  border: solid 2px #394867;
}

#front-top5 {
  position: relative;
  display: grid;
  width: 100%;
  height: 50%;
}

#front-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
